$sidenav-full-width: 250px;
  $sidenav-medium-width: 70px;
  .mat-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

    .mat-sidenav {
      width: $sidenav-full-width;
      background-color: lightcyan;
    }

    .mat-sidenav-content {
      padding: 1.5em;
    }
  }


.header {
  display: flex;
  justify-content: space-between;
}