<mat-toolbar color="primary">
  <mat-toolbar-row class="header">
    <div>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <span>Js trainer</span>
      <span class="example-spacer"></span>
    </div>
    <span>Bohdan Petryshyn</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'side'">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/exercises'">Exercises list</a>
      <a mat-list-item [routerLink]="'/statistic'">My results</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>