.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}