.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-container {
  width: 80vw;
  margin-top: 20px;
}

.correct-solutions {
  width: 50%;
  white-space: pre-wrap;
}

h1 {
  text-align: center;
}

.correct-result {
  background-color: green;
}

.wrong-result {
  background-color: #ff3333;
  color: white;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}